@import 'styles/variables.scss';
@import 'styles/mixins.scss';
.wrapper {
  padding-top: 64px;
}
.header {
  // &.MuiPaper-elevation4-116 {
  //   @include box_shadow(0, 1px, 6px, rgba($black, 0.16));
  // }
  width: 100% !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  .header_in {
    padding: 0 10px;
    // @media (max-width: $screen-xxs-max) {
    justify-content: space-between;
    // }
  }
  .header_back_arrow {
    @media (max-width: $screen-xxs-max) {
      margin-left: -10px;
    }
    span {
      padding: 10px;
    }
  }
  .header_logo {
    flex-grow: 1;
    text-align: center;
  }
  .header-left-icons {
    // max-width: 168px;
    max-width: 130px;
    // width: 100%;
    display: flex;
    align-items: center;
    padding-right: 18px;
  }
  .header-right-icons {
    min-width: 200px;
    justify-content: flex-end;
    // width: 100%;
    display: flex;
    align-items: center;
    .buSelectionButton {
      min-width: 120px;
      font-size: 12px;
      padding-right: 20px;
      text-transform: capitalize;
      @include border-radius(30px);
      background: $whitesmoke;
    }
  }
  .header_nav {
    flex-grow: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    .header_nav_col-adj {
      width: 100%;
      display: flex;
    }
    nav {
      // max-width: 480px;
      margin: 0;
      width: 100%;
      // display: flex;
      padding: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      a {
        margin: 0 15px !important;
        width: auto !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 20px !important;
        padding-bottom: 21px !important;
        color: $primary;
        font-size: 13px !important;
        line-height: 19px !important;
        background: #fff !important;
        display: inline-block;
        border: 0;
        border-bottom: 3px solid transparent;
        transition: all ease-in-out 0.1s;
        div {
          margin: 0 !important;
          font-size: inherit !important;
          line-height: inherit !important;
          span {
            font-size: inherit !important;
            line-height: inherit !important;
          }
        }
        &.active {
          border-bottom: 3px solid $secondary;
          font-size: 16px !important;
          line-height: 19px !important;
          color: $primary;
          font-weight: bold;
        }
        &:hover {
          border-bottom: 3px solid $secondary;
          color: $primary;
        }
      }
    }
    // .dots-drop {
    //   .dots-icon {
    //     width: 56px !important;
    //     img {
    //       width: 32px !important;
    //       height: 32px !important;
    //       object-fit: cover !important;
    //     }
    //   }
    // }
    .header_nav_in {
      max-width: 580px;
      // margin: 0 auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .dots-drop {
      height: 100%;
      display: flex;
      align-items: center;
      .dots-icon {
        height: 100%;
      }
    }
  }
  .menu_button {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: $screen-xxs-max) {
    .notificationinfo-icon {
      display: none !important;
    }
    .menu_icon {
      margin-left: -10px;
    }
    .userinfo-icon {
      margin-right: -10px !important;
    }
    .main_content {
      padding: 25px 15px;
    }
  }
  .userdrop {
    position: relative;
  }
  // @media (max-width: $screen-xxs-max) {
  //   .mob_header {
  //     justify-content: flex-end;
  //     .menu_button {
  //       display: none;
  //     }
  //     .header_logo {
  //       display: none;
  //     }
  //   }
  // }
}

.userMenu {
  top: 48px !important;
  @media (max-width: $screen-xxs-max) {
    top: 40px !important;
  }
  a,
  li {
    padding: 0;
    height: auto;
    > span {
      padding: 10px 12px;
      display: block;
      width: 100%;
    }
  }
}
.headerGlobal {
  height: 100vh;
  width: 80px !important;
  .header_in {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  &.headerLeft {
    right: auto !important;
  }
  &.headerRight {
    left: auto !important;
    right: 0;
    .header_back_arrow {
      transform: rotate(-180deg);
    }
  }
}

.sidebarRight {
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .head_backnav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    a {
      float: right;
      transform: rotate(-180deg);
      padding-left: 15px;
      padding-right: 10px;
      display: flex;
    }
  }
}

.head_crtAccount {
  font-size: 9pt;
  color: $primary;
  margin: 0 !important;
  letter-spacing: 1.2px;
  padding-right: 18px;
}
