a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 576px) {
    max-width: 540px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1300px) {
    max-width: 90%;
    margin: 0 auto;
  }
}

.no_shadow {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

//Background colors
.whitesmoke_bg {
  background: $whitesmoke;
}

body,
.white_bg {
  background: $white !important;
}

//Form error msg
.form-control {
  position: relative;
  .error_msg {
    color: red;
    margin: 0;
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: -15px;
  }
}
//TextField
// .text_field {
//   [class*='MuiFilledInput-root-'] {
//     background: $primary_light !important;
//     &:hover {
//       background: $primary_light;
//     }
//   }
//   [class*='MuiFilledInput-underline-'] {
//     [class*='MuiInputBase-input-'] {
//       color: $primary;
//       font-weight: $font_semi_bold;
//     }
//     [class*='MuiFilledInput-input-'] {
//       padding: 18px 12px 11px;
//     }
//     [class*='MuiInputBase-inputMultiline-']{
//       padding: 0;
//     }
//     [class*='DateFormatInput-input-'] {
//       color: $primary;
//       font-weight: $font_semi_bold;
//       // height: 56px;
//       height: 45px;
//     }
//     &:before {
//       border-bottom-color: $primary;
//       // border-width: 2px;
//     }
//     [class*='MuiInputAdornment-filled-'] {
//       [class*='MuiSvgIcon-root-'] {
//         font-size: 16px;
//       }
//     }
//   }
//   [class*='MuiInputLabel-filled-'] {
//     color: rgba($primary, 0.5);
//     font-weight: $font_light;
//     transform: translate(12px, 13px) scale(1);
//   }
//   [class*='MuiInputLabel-shrink-'] {
//     letter-spacing: 1.2px;
//     transform: translate(12px, 0) scale(0.75) !important;
//   }
//   &.filled {
//     [class*='MuiInputLabel-formControl-'] {
//       left: -13px;
//     }
//     [class*='MuiFilledInput-root-'] {
//       background: none !important;
//       &:hover {
//         background: none;
//       }
//       [class*='MuiFilledInput-input-'] {
//         padding-left: 0;
//         padding-right: 0;
//       }
//     }
//   }
//   [class*='MuiSvgIcon-root-'] {
//     color: $primary;
//   }
//   [class*='DateFormatInput-formControl-'] {
//     [class*='MuiFilledInput-underline-'] {
//       [class*='MuiInputAdornment-filled-'] {
//         [class*='MuiSvgIcon-root-'] {
//           font-size: 22px;
//         }
//       }
//     }
//   }
//   &.required {
//     [class*='DateFormatInput-formControl-'] {
//       [class*='MuiFormLabel-filled-'] {
//         &:after {
//           content: '*';
//         }
//       }
//     }
//   }
//   [class*='MuiTypography-body2-'] {
//     color: $primary;
//     font-weight: $font_light;
//     font-size: 14px;
//   }
// }
//with space for label
.text_field {
  // margin-bottom: 8px !important;
  [class*='MuiFilledInput-root-'] {
    background: $primary_light !important;
    &:hover {
      background: $primary_light;
    }
  }
  [class*='MuiFilledInput-input-'] {
    padding: 24px 12px 10px;
  }
  [class*='MuiInputLabel-filled-'] {
    transform: translate(12px, 18px) scale(1);
  }
  [class*='MuiFormHelperText-contained-'] {
    margin: 0;
    font-size: 11px;
    position: absolute;
    left: 0;
    bottom: -12px;
  }
  [class*='MuiFilledInput-underline-'] {
    height: 50px;
    [class*='MuiInputBase-input-'] {
      color: $primary;
      font-weight: $font_semi_bold;
      line-height: 18px;
    }
    [class*='DateFormatInput-input-'] {
      color: $primary;
      font-weight: $font_semi_bold;
      height: 50px;
      padding-left: 0;
    }
    &:before {
      border-bottom-color: $primary;
    }
    [class*='MuiInputAdornment-filled-'] {
      [class*='MuiSvgIcon-root-'] {
        font-size: 16px;
      }
    }
    [class*='MuiInputBase-inputMultiline-'] {
      padding: 0;
    }
  }
  [class*='MuiInputLabel-filled-'] {
    color: $primary;
    font-weight: $font_light;
  }
  [class*='MuiInputLabel-shrink-'] {
    letter-spacing: 1.2px;
    transform: translate(12px, 8px) scale(0.75);
  }
  [class*='DateFormatInput-formControl-'] {
    [class*='MuiInputLabel-shrink-'] {
      letter-spacing: 1.2px;
      transform: translate(12px, 18px) scale(1);
    }
  }
  &.filled {
    [class*='MuiInputLabel-formControl-'] {
      left: -13px;
    }
    [class*='DateFormatInput-formControl-'] {
      [class*='MuiInputLabel-shrink-'] {
        letter-spacing: 1.2px;
        transform: translate(12px, 8px) scale(0.75);
      }
    }
    [class*='MuiFilledInput-root-'] {
      background: none !important;
      &:hover {
        background: none;
      }
      [class*='MuiFilledInput-input-'] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  [class*='MuiSvgIcon-root-'] {
    color: $primary;
  }
  [class*='DateFormatInput-formControl-'] {
    [class*='MuiFilledInput-underline-'] {
      [class*='MuiInputAdornment-filled-'] {
        [class*='MuiSvgIcon-root-'] {
          font-size: 22px;
        }
      }
    }
  }
  &.required {
    [class*='DateFormatInput-formControl-'] {
      [class*='MuiFormLabel-filled-'] {
        &:after {
          content: '*';
        }
      }
    }
  }
  [class*='MuiTypography-body2-'] {
    color: $primary;
    font-weight: $font_light;
    font-size: 14px;
  }
  [class*='MuiInputAdornment-positionEnd-'] {
    &.pbr {
      position: absolute;
      right: 15px;
    }
  }
  &.text_field_multiline {
    [class*='MuiFilledInput-underline-'] {
      height: auto;
    }
    &.filled {
      [class*='MuiFilledInput-root-'] {
        padding-left: 0;
      }
    }
  }
}

.checkLabel {
  [class*='MuiTypography-body2-'] {
    color: $primary;
  }
}

.disable-date {
  pointer-events: none;
}

// File upload

.file-upload {
  border: 1px solid rgba($light_border, 0.5);
  width: 120px;
  height: 120px;
  display: flow-root;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1.42;
  color: $primary;
  cursor: pointer;
  text-align: center;
  label {
    text-align: center;
    width: 100%;
    // padding: 0 20px;
  }
  img {
    display: block;
    margin: 32px auto 8px auto;
  }
}
#file-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  appearance: none;
  cursor: pointer;
}
.upload_img_placeholder {
  background: $white;
  @include box_shadow(0, 1px, 6px, rgba($black, 0.16));
  border: 1px solid rgba($light_border, 0.5);
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: left;
  margin-right: 37px;
  .close_icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    padding: 0 !important;
    min-width: auto;
  }
}

//Button
// [class*='MuiButton-root-'] {
//   padding: 9px 19px !important;
// }
// [class*='MuiButton-sizeLarge-'] {
//   padding: 12px 24px !important;
// }
// [class*='MuiButton-outlinedPrimary-'] {
//   padding: 11px 24px !important;
// }

.btn {
  @include border-radius(4px);
  box-shadow: none !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
  font-size: 10.5pt !important;
  line-height: 1 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  // color: $white;
  &.MuiButton-contained {
    color: $white;
  }
  @media screen and (max-width: $screen-xxs-max) {
    &.mobile_full {
      min-width: auto;
      width: 100%;
    }
  }
  &.large {
    min-width: 150px;
    @media screen and (max-width: $screen-xxs-max) {
      min-width: 130px;
    }
  }
  &.medium {
    min-width: 130px;
  }
  .material-icons {
    // margin-left: 10px;
    // @media screen and (max-width: $screen-xxs-max) {
    //   margin-left: 4px;
    // }
  }
  &.square {
    padding: 8px !important;
    min-width: auto;
    background: #646464;
  }
  &.i-rgt {
    img {
      margin-left: 8px;
    }
  }
  &.txtTransNone {
    text-transform: none !important;
  }
}

.mob-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

//padding
.p-10 {
  padding: 10px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pt-30 {
  padding-top: 30px;
}

//margin
.m-0 {
  margin: 0 !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.ml-30 {
  margin-left: 30px !important;
  @media screen and (max-width: $screen-xxs-max) {
    margin-left: 10px !important;
  }
}
.mr-30 {
  margin-right: 30px !important;
  @media screen and (max-width: $screen-xxs-max) {
    margin-right: 10px !important;
  }
}
.ml-10 {
  margin-left: 10px !important;
}

.smallBtn {
  min-width: inherit;
  padding: 6px !important;
}

//Title style
.content_title {
  color: $primary !important;
  margin-bottom: 19px !important;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  &.small {
    font-size: 9.75pt;
    text-transform: initial;
  }
}

//Icon
.icon_medium {
  font-size: 14px !important;
}

// .custom_model {
//   [class*='MuiDialog-paper-'] {
//     min-width: 980px;
//     @media screen and (max-width: $screen-sm-max) {
//       min-width: inherit;
//       max-width: 300px;
//       margin: 20px;
//     }
//   }
//   [class*='MuiDialogContent-root-'] {
//     margin-top: 40px;
//   }
//   [class*='MuiDialogActions-root-'] {
//     padding: 0 15px;
//   }
//   .close_signup {
//     position: absolute;
//     right: 25px;
//     top: 15px;
//     cursor: pointer;
//   }
// }

@media (max-width: $screen-xxs-max) {
  .mob_btn_fixed {
    display: block !important;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
    background: $white;
    padding: 6px;
    width: 100%;
    text-align: center;
  }

  .mob_btn_align {
    // margin: -5px !important;
    .btn {
      margin: 5px !important;
      min-width: calc(50% - 10px);
    }
  }

  .btn_main_mob {
    width: 100%;
    .edit_cancel {
      display: none;
    }
  }
}

.back_nav {
  cursor: pointer;
}

// New css
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-control {
  position: relative;
  .required {
    position: absolute;
    color: red;
    font-size: 11px;
    left: 0;
    line-height: 12px;
    bottom: -55px;
    min-height: 60px;
    &.keyrequired {
      bottom: -60px;
    }
  }
}

.text-field,
.select-field {
  // background: $primary_light;
  background: transparent;
  width: 100%;
  // height: 52px;
  margin-bottom: 6px !important;
  label {
    color: $primary !important;
    font-weight: $font_light;
    // letter-spacing: 1px;
    // transform: translate(12px, 16px) scale(1); //translate(12px, 20px) scale(1)
    transform: translate(0, 16px) scale(1);
    z-index: 1;
    font-size: 15px;
    + div {
      margin: 0;
      width: 100%;
      // background: $primary_light;
      background: transparent;
      background-color: transparent !important;
      &:hover,
      &:focus {
        // background: $primary_light;
        background: transparent;
      }
      &:before {
        border-bottom-color: $primary;
      }
      > input {
        padding: 17px 12px 10px 0; //15px 12px 12px; //24px 12px 10px
        color: $primary;
        font-weight: $font_semi_bold;
        line-height: 18px;
        font-size: 16px;
      }
      svg {
        font-size: 24px;
      }
      > div {
        font-size: 16px;
        padding: 17px 12px 10px 0;
        font-weight: $font_semi_bold;
        line-height: 19px;
        color: $primary;
        &:hover,
        &:focus {
          // background: $primary_light;
          background: transparent;
        }
        [aria-label='Toggle password visibility'] {
          svg {
            font-size: 1.2rem;
          }
        }
        > div {
          text-align: left;
          font-size: 16px;
          // padding: 18px 12px 10.5px; //15px 12px 12px; //24px 12px 10px
          padding: 17px 12px 10px 0;
          font-weight: $font_semi_bold;
          background: transparent;
          &:focus {
            background: transparent;
          }
        }
        // background: url("../images/down-arrow_icon.svg");
        > svg {
          path {
            // display: none;
          }
        }
      }
    }
  }
  [data-shrink='true'] {
    // transform: translate(12px, 5px) scale(0.75) !important;
    transform: translate(0, 5px) scale(0.85) !important;
    // + div {
    //   > input,
    //   > div {
    //     font-size: 16px;
    //     font-weight: $font_light;
    //   }
    // }
    + div {
      padding-left: 0;
    }
  }
  path {
    color: $primary;
  }
  &.filled {
    background: transparent;
    [data-shrink='true'] {
      left: 0px;
      letter-spacing: 1px;
      transform: translate(0, 2px) scale(0.85) !important; //translate(12px, 10px) scale(0.75);
      // transform: translate(12px, 2px) scale(0.75) !important; //translate(12px, 10px) scale(0.75);
      + div {
        background: none;
        padding-left: 0;
        > input,
        > div {
          color: $primary;
          // font-weight: $font_light;
          line-height: 19px;
          padding-left: 0;
          padding-top: 17px;
          font-weight: $font_semi_bold;
          @media (max-width: $screen-xxs-max) {
            padding-right: 0;
            margin-left: 0;
          }
          p,
          path {
            color: $primary;
            font-weight: $font_semi_bold;
          }
          > div {
            padding-left: 0;
            font-weight: $font_semi_bold;
            background-color: transparent;
            line-height: 19px;
          }
          // &:disabled {
          //   color: #b1b0b0;
          // }
          &.MuiSelect-selectMenu {
            height: 45px;
            box-sizing: border-box;
          }
        }
      }
    }
    // &.selectDisabled,
    // &.inputDisabled {
    //   > div {
    //     &:before {
    //       border-bottom: transparent;
    //     }
    //     // > div {
    //     //   > div {
    //     //     color: #b1b0b0;
    //     //   }
    //     // }
    //   }
    // }
  }
}

.searchInput label + div > div {
  padding: 0 !important
}

.startadornment_start {
  margin-top: 8px !important;
}

.header-widget {
  color: $primary;
  margin-bottom: 0px !important;
  h1 {
    // margin-bottom: 0 !important;
    font-size: 19.5pt !important;
    margin-bottom: 20px !important;
  }
  h1,
  h2 {
    margin-bottom: 10px;
    &:before {
      border-top: 2px solid $light_gray;
      width: 30px;
      content: '';
      display: block;
      margin-bottom: 15px;
    }
    &.sign_head_noBorder {
      line-height: 1.1 !important;
      padding-top: 15px;
      margin-bottom: 50px !important;
      @media (max-width: $screen-xxs-max) {
        padding-top: 0;
      }
      &:before {
        display: none;
      }
    }
    b {
      font-weight: $font_bold;
    }
  }
  p {
    margin: 0;
  }
  &.steps {
    margin-bottom: 0 !important;
    span {
      font-size: 9pt;
      opacity: 0.5;
      margin-bottom: 12px;
    }
    p {
      color: $primary;
    }
  }
}

//switch css
.custom_switch {
  margin-left: 0 !important;
  span {
    &:last-child {
      color: $primary;
    }
  }
}

.bottom_sign {
  max-width: 540px;
  width: 100%;
  @media (max-width: $screen-xxs-max) {
    padding-bottom: 20px;
  }
  p {
    font-size: 9.75pt;
    font-weight: $font_normal;
    color: $primary;
    padding-bottom: 10px;
    margin: 0;
  }
  h6 {
    font-size: 9.75pt;
    font-weight: $font_normal;
    color: $primary;
    margin: 12px 0 0 0;
    padding-top: 10px;
    border-top: rgba($gray, 0.3) 1px solid;
    a {
      color: $secondary;
    }
  }
}

.accord-view {
  margin-bottom: 10px;
}

.accord-main {
  box-shadow: none !important;
  border: 0 !important;
  position: relative;
  &:before {
    display: none;
  }
  .accord-header {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 20px;
    color: $primary;
    text-align: left;
    justify-content: flex-start !important;
    & > div:first-child {
      display: inline-block !important;
      flex-grow: inherit !important;
    }
    & > div:last-child {
      display: inline-block !important;
      flex-grow: inherit !important;
      transform: translate(0) !important;
      position: static !important;
      padding: 0;
      & > span:first-child {
        width: 40px;
        height: 24px;
        color: $primary;
        display: flex;
        border: 1px solid $primary;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        svg {
          display: none;
        }
        &:before {
          content: '+';
          font-size: 16px;
          line-height: 30px;
          color: $primary;
          text-align: center;
          width: 30px;
          height: 30px;
          background-color: #f5f5f5;
        }
      }
      & > span:last-child {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      & > div:last-child {
        & > span:first-child {
          background-color: #fef8ec;
          &:before {
            content: '-';
            background-color: #fef8ec;
            margin-top: -4px;
          }
        }
      }
    }
  }
  .accord-header2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 20px;
    color: $primary;
    text-align: left;
    justify-content: flex-start !important;
    & > div:first-child {
      display: inline-block !important;
      flex-grow: inherit !important;
    }
    & > div:last-child {
      display: inline-block !important;
      flex-grow: inherit !important;
      transform: translate(0) !important;
      position: static !important;
      margin-left: 814px;
      padding: 0;
      & > span:first-child {
        width: 40px;
        height: 24px;
        color: $primary;
        display: flex;
        border: 1px solid $primary;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        svg {
          display: none;
        }
        &:before {
          content: '+';
          font-size: 16px;
          line-height: 30px;
          color: $primary;
          text-align: center;
          width: 30px;
          height: 30px;
          background-color: #f5f5f5;
        }
      }
      & > span:last-child {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      & > div:last-child {
        & > span:first-child {
          background-color: #fef8ec;
          &:before {
            content: '-';
            background-color: #fef8ec;
            margin-top: -4px;
          }
        }
      }
    }
  }
  .accord-body {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &.orderSummaryMain {
    background: none;
    padding: 0 0 40px 0;
    margin: 0;
    .accord-header2 > div:last-child {
      display: none !important;
    }
    .accord-body {
      .container {
        padding: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .productUpload > div,
  .productUpload > div > div,
  .productUpload > div > div > div {
    width: 100% !important;
    min-width: inherit !important;
  }
}
.text-email {
  label {
    color: $primary !important;
    + div {
      &:after {
        border-bottom-color: transparent !important;
      }
    }
  }
  p {
    display: none;
  }
}

.tertiary {
  background: $brand-tertiary !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.quick_links {
}

.trannferList {
  border-radius: 0 !important;
  .transfetListItems {
    border-radius: 0 !important;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    .transfetListItemsItem {
      padding: 0 0px !important;
      border-radius: 0 !important;
      overflow: visible !important;
      .transferListItemIcon {
        min-width: 22px !important;
        // width: 36px !important;
        position: relative;
        // align-items: center;
        // justify-content: flex-end;
        label {
          margin: 0px 0 0 !important;
          // min-width: 36px !important;
          // width: 36px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            padding: 0 !important;
          }
        }
        .transferListItemIconLeft,
        .transferListItemIconRight {
          // min-width: 36px !important;
          // width: 36px !important;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all ease-in-out 0.2s;
          position: absolute;
          z-index: -1;
          opacity: 0;
          &.right {
            align-items: flex-start;
          }
        }
      }
      .transferListItemText {
        margin: 0 !important;
        color: $primary;
        font-size: 11px;
        line-height: 12px;
        padding: 5px 9px !important;
        transition: all ease-in-out 0.2s;
        font-family: acumin-pro, sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        span {
          color: $primary;
          font-size: 11px;
          font-family: acumin-pro, sans-serif;
          line-height: 12px;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }
  .tranferListSelectAll {
    text-align: right;
    margin: 12px 0 10px;
    font-size: 11px;
    line-height: 12px;
    span {
      cursor: pointer;
      color: $primary;
      display: inline-block;
      margin: 0;
      text-decoration: underline !important;
      font-size: 11px;
      line-height: 12px;
    }
  }
  .trannferListGetHead {
    text-align: left;
    margin: 6px 0 10px;
    font-size: 10px;
    line-height: 12px;
    span {
      cursor: pointer;
      color: $primary;
      display: inline-block;
      margin: 0;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .trannferListPush {
    padding-left: 0 !important;
    padding-right: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .trannferListPushIn {
      min-height: 290px;
      .transfetListItems {
        .transfetListItemsItem {
          display: flex;
          flex-direction: row-reverse;
          background: rgba(242, 242, 242, 1) !important;
          padding: 0px 10px !important;
          &:hover,
          &:focus {
            .transferListItemIconLeft {
              z-index: 1 !important;
              opacity: 1 !important;
            }
            .transferListItemText {
              font-weight: 600 !important;
              span {
                font-weight: 600 !important;
              }
            }
          }
        }
      }
    }
  }
  .trannferListGet {
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .trannferListGetIn {
      min-height: 290px;
      .transfetListItems {
        .transfetListItemsItem {
          background: rgba(240, 252, 240, 1) !important;
          padding: 0 10px !important;
          &:hover,
          &:focus {
            .transferListItemIconRight {
              z-index: 1 !important;
              opacity: 1 !important;
            }
            .transferListItemText {
              font-weight: 600 !important;
              span {
                font-weight: 600 !important;
              }
            }
          }
        }
      }
    }
  }
}

.upgradeList {
  border-radius: 0 !important;
  .upgradeListItems {
    border-radius: 0 !important;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    .upgradeListItemsItem {
      padding: 0 0px !important;
      border-radius: 0 !important;
      overflow: visible !important;
      .upgradeListItemIcon {
        min-width: 36px !important;
        width: 36px !important;
        position: relative;
        label {
          margin: 0px 0 0 !important;
          min-width: 36px !important;
          width: 36px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            padding: 0 !important;
          }
        }
        .upgradeListItemIconLeft,
        .upgradeListItemIconRight {
          min-width: 36px !important;
          width: 36px !important;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all ease-in-out 0.2s;
          position: absolute;
          z-index: -1;
          opacity: 0;
        }
      }
      .upgradeListItemText {
        margin: 0 !important;
        color: $primary;
        font-size: 11px;
        line-height: 12px;
        padding: 5px 9px !important;
        transition: all ease-in-out 0.2s;
        font-family: acumin-pro, sans-serif;
        span {
          color: $primary;
          font-size: 11px;
          font-family: acumin-pro, sans-serif;
          line-height: 12px;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }
  .upgradeListSelectAll {
    text-align: right;
    margin: 12px 0 10px;
    font-size: 11px;
    line-height: 12px;
    span {
      cursor: pointer;
      color: rgba($primary, 0.5);
      display: inline-block;
      margin: 0;
      text-decoration: underline !important;
      font-size: 11px;
      line-height: 12px;
    }
  }
  .upgradeListGetHead {
    text-align: left;
    margin: 6px 0 10px;
    font-size: 10px;
    line-height: 12px;
    span {
      cursor: pointer;
      color: rgba($primary, 0.5);
      display: inline-block;
      margin: 0;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .upgradeListPush {
    padding-left: 0 !important;
    padding-right: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .upgradeListPushIn {
      min-height: 290px;
      position: relative;
      .upgradeListItems {
        .upgradeListItemsItem {
          display: flex;
          flex-direction: row-reverse;
          background: rgba(242, 242, 242, 1) !important;
          &:hover {
            .upgradeListItemIconLeft {
              z-index: 1 !important;
              // opacity: 1 !important;
            }
            .upgradeListItemText {
              font-weight: 600 !important;
              span {
                font-weight: 600 !important;
              }
            }
          }
        }
      }
    }
  }
  .upgradeListGet {
    padding-left: 10px !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .upgradeListGetIn {
      min-height: 290px;
      .upgradeListItems {
        max-height: 87px;
        overflow-x: hidden;
        overflow-y: auto;
        .upgradeListItemsItem {
          background: rgba(240, 252, 240, 1) !important;
          &:hover,
          &:focus {
            .upgradeListItemIconRight {
              z-index: 1 !important;
              opacity: 1 !important;
            }
            .upgradeListItemText {
              font-weight: 600 !important;
              span {
                font-weight: 600 !important;
              }
            }
          }
        }
      }
    }
  }
}
.moveUpDownButton {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 7px;
}

// .select-field label + div > div > div {
//   padding: 18px 12px 10px;
// }
// h3{
//   font-size: 18px;
// }
// h2{
//   font-size: 21px;
// }

.priceDetailTable {
  margin: 0;
  margin-top: 20px;
  tbody {
    tr {
      td {
        color: $primary;
        font-size: 13px;
        line-height: 20px;
        border: 0;
        &.text-right {
          text-align: right;
        }
        &.font-600 {
          font-weight: 600;
        }
      }
    }
  }
}
.hidden {
  display: none;
}

#select-languages,
#select-segments {
  height: 45px;
  box-sizing: border-box;
  div {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #212121 #ccc;
    scrollbar-width: thin;
    padding: 0;
    div {
      span {
        line-height: 10pt;
      }
    }
    &::-webkit-scrollbar {
      height: 1px;
      background-color: rgba($primary, 0);
      position: absolute;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border: 1px solid rgba($primary, 0);
      background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
      background-color: #ccc;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #212121;
    }
    &::-webkit-scrollbar-thumb:hover {
      border: 1x solid rgba($primary, 0);
    }

    &::-moz-scrollbar {
      height: 1px;
      background-color: rgba($primary, 0);
      position: absolute;
    }
    &::-moz-scrollbar-track,
    &::-moz-scrollbar-thumb {
      border: 1px solid rgba($primary, 0);
      background-clip: padding-box;
    }
    &::-moz-scrollbar-track {
      background-color: #ccc;
    }
    &::-moz-scrollbar-thumb {
      background-color: #212121;
    }
    &::-moz-scrollbar-thumb:hover {
      border: 1px solid rgba($primary, 0);
    }

    &::-o-scrollbar {
      height: 1px;
      background-color: rgba($primary, 0);
      position: absolute;
    }
    &::-o-scrollbar-track,
    &::-o-scrollbar-thumb {
      border: 1px solid rgba($primary, 0);
      background-clip: padding-box;
    }
    &::-o-scrollbar-track {
      background-color: #ccc;
    }
    &::-o-scrollbar-thumb {
      background-color: #212121;
    }
    &::-o-scrollbar-thumb:hover {
      border: 1px solid rgba($primary, 0);
    }
  }
}

// * {
//   -webkit-font-smoothing: antialiased;
//   box-sizing: border-box;
//  }
.templateLoad {
  // padding: 30px 0;
  .square {
    width: 40px;
    height: 40px;
    background: $whitesmoke;
    margin-right: 30px;
  }
  .textContent {
    width: 155px;
    height: 12px;
    background: $whitesmoke;
  }
  .content {
    width: 100%;
    height: 200px;
    background: $whitesmoke;
  }
}

.uiSelectOption {
  color: $primary !important;
  font-size: 9.75pt;
}

.multipleselect {
  > div {
    > div {
      height: 46px;
      box-sizing: border-box;
      > div {
        padding: 0 !important;
        position: relative !important;
        top: 3px !important;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        scrollbar-color: #212121 #ccc !important;
        scrollbar-width: thin !important;
        display: flex;
        flex-wrap: nowrap;
        > div {
          margin-top: 0 !important;
          margin-bottom: 0px !important;
          background: #ccd5de !important;
          color: $primary !important;
          font-size: 11px !important;
          line-height: 11px !important;
          padding: 4px 5px !important;
          letter-spacing: 0 !important;
          font-weight: 400 !important;
          > span {
            font-size: 11px !important;
            line-height: 11px !important;
          }
        }
        &::-webkit-scrollbar {
          height: 8px;
          background-color: rgba($primary, 0);
          position: absolute;
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
          border: 3px solid rgba($primary, 0);
          background-clip: padding-box;
        }
        &::-webkit-scrollbar-track {
          background-color: #ccc;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #212121;
        }
        &::-webkit-scrollbar-thumb:hover {
          border: 3px solid rgba($primary, 0);
        }

        &::-moz-scrollbar {
          height: 8px;
          background-color: rgba($primary, 0);
          position: absolute;
        }
        &::-moz-scrollbar-track,
        &::-moz-scrollbar-thumb {
          border: 3px solid rgba($primary, 0);
          background-clip: padding-box;
        }
        &::-moz-scrollbar-track {
          background-color: #ccc;
        }
        &::-moz-scrollbar-thumb {
          background-color: #212121;
        }
        &::-moz-scrollbar-thumb:hover {
          border: 3px solid rgba($primary, 0);
        }

        &::-o-scrollbar {
          height: 8px;
          background-color: rgba($primary, 0);
          position: absolute;
        }
        &::-o-scrollbar-track,
        &::-o-scrollbar-thumb {
          border: 3px solid rgba($primary, 0);
          background-clip: padding-box;
        }
        &::-o-scrollbar-track {
          background-color: #ccc;
        }
        &::-o-scrollbar-thumb {
          background-color: #212121;
        }
        &::-o-scrollbar-thumb:hover {
          border: 3px solid rgba($primary, 0);
        }
      }
    }
  }
}

.text-field {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    color: $primary !important;
    -webkit-text-fill-color: $primary !important;
  }
}
.inputNoWhiteSpace {
  .text-field {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #f6f6f6 inset !important;
      color: $primary !important;
      -webkit-text-fill-color: $primary !important;
    }
  }
}

// Model css
.dialog_small {
  .MuiDialog-paperScrollPaper {
    min-width: 420px;
    padding: 30px;
  }
  text-align: center;
  .causionIcon {
    display: block;
    margin: 0 auto 15px auto;
  }
  h2 {
    font-size: 10.5pt;
    color: $primary;
    font-weight: $font_normal;
    span {
      display: block;
      font-size: 11.25pt;
    }
  }
}

.closeButton {
  position: absolute !important;
  right: 10px;
  top: 10px;
  padding: 10px;
  img {
    width: 20px;
  }
}

/* Banner css */
.banner {
  background: $whitesmoke;
  border-bottom: 1px solid $light_border;
  padding: 20px 0;
  .banner_in {
    padding-top: 25px;
    padding-bottom: 25px;
    h3 {
      color: $primary;
      margin: 0;
      span {
        font-weight: $font_light;
      }
      &.head_title2 {
        font-weight: $font_light;
      }
      &.head_title_bold {
        font-weight: $font_semi_bold;
      }
    }
    p {
      margin: 0;
      margin-top: 5px;
      color: $primary;
      font-size: 9pt;
    }
  }
  .banner_actions {
    display: flex;
    align-items: center;
    .dots-icon {
      margin-left: 10px;
    }
  }
}

@media (max-width: $screen-xxs-max) {
  // .mob_header_title {
  //   position: absolute;
  //   left: 5px;
  //   top: 0;
  //   padding: 12px;
  //   z-index: 9999;
  //   font-size: 16px !important;
  //   .back_nav {
  //     margin-top: 5px;
  //   }
  // }
  .content_title {
    &.mob_main_title {
      margin-bottom: 0 !important;
    }
  }
  .mob_banner {
    .btn {
      padding-left: 10px !important;
      padding-right: 10px !important;
      font-size: 9pt !important;
    }
  }
}

.head_backnav {
  color: $primary !important;
  margin-bottom: 30px !important;
  a {
    padding-right: 15px;
  }
}

.filled_circle_title {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  font-weight: $font_light !important;
  .back_nav {
    width: 38px;
    height: 38px;
    background: $whitesmoke;
    @include border-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
}

.noDatatext {
  font-size: 9pt;
  color: $primary;
  background-color: #f0fcf0;
  padding: 15px;
  // text-align: center;
}

//Tabs css
.tab-content-main {
  min-height: 200px;
}
.createProduct_main {
  padding-bottom: 50px;
}
.tab-content-lists {
  & > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 36px !important;
    padding-bottom: 36px !important;
  }
}
.tab-content-menu {
  margin-top: -52px;
  & > div {
    & > div {
      & > span,
      [class*='-indicator'] {
        opacity: 1;
        background-color: $secondary;
      }
      [class*='-disabled'] {
        color: $primary;
      }

      display: flex;
      justify-content: flex-start;
      button,
      a {
        margin: 0 !important;
        width: auto !important;
        min-width: auto !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        color: $primary;
        font-size: 9.75 !important;
        line-height: 19px !important;
        background: transparent !important;
        display: inline-block;
        border: 0;
        border-bottom: 3px solid transparent;
        transition: all ease-in-out 0.1s;
        text-transform: capitalize !important;
        margin-right: 50px !important;
        flex: inherit !important;
        // div {
        //   margin: 0 !important;
        //   font-size: inherit !important;
        //   line-height: inherit !important;
        //   span {
        //     font-size: inherit !important;
        //     line-height: inherit !important;
        //   }
        // }
        &.active,
        &[class*='-selected'],
        &[aria-selected='true'] {
          border-bottom: 3px solid transparent;
          font-size: 14px !important;
          line-height: 19px !important;
          color: $primary;
          // font-weight: bold;
        }
        &:last-child {
          margin-right: 0px !important;
        }
        &:hover,
        &:focus {
          border-bottom: 3px solid transparent;
          color: $primary;
          background: transparent;
        }
        span {
          opacity: 1;
          color: $primary;
        }
      }
    }
  }
}

.border_actionBtn {
  vertical-align: middle;
  height: 30px;
  font-size: 13.5pt;
  background: transparent;
  min-width: inherit !important;
  padding: 0;
  width: 30px;
  color: $primary;
  &.arrow_rotate_up {
    img {
      transform: rotate(90deg);
    }
  }
  &.arrow_rotate_down {
    img {
      transform: rotate(-90deg);
    }
  }
}

.actionBtn {
  vertical-align: middle;
  margin-left: 20px;
  height: 28px !important;
  font-size: 18px;
  background: #fff;
  min-width: inherit !important;
  padding: 0 !important;
  width: 30px !important;
  color: $primary;
  border-color: #a9bbcc;
}

.subTitle {
  line-height: inherit !important;
  font-size: 9pt;
}

//Model
.model_form {
  padding: 30px;
  h5 {
    font-weight: $font_semi_bold;
  }
}

.readonlyForm {
  margin: 10px 0;
  .title {
    padding: 3px 0;
    font-size: 9.75;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: rgba($primaryRGB, 0.75);
  }
  .desc {
    font-size: 12pt;
    line-height: 16px;
    letter-spacing: 0;
    color: $primary;
    font-weight: $font_semi_bold;
  }
}

.modelAltBg {
  min-width: 980px;
  padding: 30px 0;
  @media (max-width: $screen-md-max) {
    min-width: 100%;
  }
  .modelContentTop {
    padding: 0 30px 10px 30px;
  }
  .modelContentBtm {
    padding: 20px 30px 20px 30px;
  }
  .trans {
    padding: 20px 30px;
  }
  h5 {
    font-weight: $font_semi_bold;
  }
  .primary,
  .secondary {
    padding: 10px 30px;
  }
  .primary {
    background: rgba($primaryRGB, 0.1)
  }
  .secondary {
    background: rgba($secondaryRGB, 0.1)
  }
}

.alignRight {
  text-align: right;
}

.rightAnimate {
  @include trans-effect;
}
