@import '../themes/myTheme/myTheme.json';

:root{
    --themeprimarycolor: $primary;
    --themesecondarycolor: $secondary;
    --themetertiarycolor: $tertiary;
}

$primary: var(--themeprimarycolor);
$primaryRGB: var(--themeprimarycolorRGB);


// $light-primary: darken($primary, 40%);
// $primary: #275682;
$primary_light: #EDF1F4;
$secondary: var(--themesecondarycolor);
$secondaryRGB: var(--themesecondarycolorRGB);
// $secondary: #00A6FF;

$brand-primary: #57C2FD;
$brand-secondary: #B6EDB6;
$brand-tertiary: var(--themetertiarycolor);
// $brand-tertiary: #EFBA46;

$white: #ffffff;
$black: #000000;
$red: #BE2831;
$gray : #707070;
$light_gray: #cacaca;
$whitesmoke:#F5F5F5;

$light_border: #d4d4d4;

//share colors
$facebook: #4b6fab;
$linkedin: #0090c4;
$twitter: #66bcf5;
$googleplus: #e24e36;
$pintrest: #ea3f3f;
$message: #45a4d5;

// Font Weights
$font_thin      	: 100;
$font_Extra_light   : 200;
$font_light     	: 300;
$font_normal    	: 400;
$font_medium    	: 500;
$font_semi_bold	    : 600; 
$font_bold      	: 700;
$font_black      	: 800;
$font_uiltra_black	: 900;

// Font Family ()
$helveticaneueregular   	: 'helveticaneueregular';
$roboto : 'Roboto', sans-serif;
$fontawesome    : FontAwesome;
// $acumin_pro : acumin-pro, sans-serif;
$acumin_pro : 'source-sans-pro', sans-serif;

//media queries
$screen-lg-min: 1050px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-xxs-min: 600px;
$screen-xxs-max: ($screen-xxs-min - 1);



