/* input[type=range] {
    -webkit-appearance: none;
    background: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #007bff;
    height: 18px;
    width: 18px;
    margin-top: -8px;
    border-radius: 99px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
  } */