@import 'styles/variables.scss';
@import 'styles/mixins.scss';
.linear_progress {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
    background: $primary;
    max-width: 500px;
    transform: translateX(-50%);
    @include border-radius(5px 5px 0 0);
    p{
        color: $white;
        text-align: center;
        margin: 0;
        padding: 15px;
    }
    .Custom_loader_color{
        background-color: transparent;
        height: 6px;
        > div {
            background-color: $secondary;
        }
    }
}